<div class="container">
  <div class="category">
    <div  *ngFor="let category of categories" class="categoryContainer">
      <div class="bannerImage">
        <i  [class]="category.bannerClass"></i>
      </div>
      <div class="categoryData">
        <div class="categoryHeader">
          {{category.name}}
        </div>
        <div class="categoryDescription">
          {{category.description}}
        </div>
      </div>
      <div class="categoryArrow">
          <i class="fas fa-arrow-circle-right"></i>
      </div>
    </div>
  </div>
</div>
